# explicit
/.project
/.vscode
/.cproject
/.csettings
/.settings
/build*
/src/jemris
/src/pjemris
/src/sanityck
/src/config.h
/src/testmpi.sh
/share/matlab/pbs_script.sh
/src/test*.sh
/signals.h5
/src/stamp-h1
/doc/site/nav.js
/doc/userguide/doxy-jemris.conf
/doc/userguide/ug_imp.dox
/doc/doxy_website_with_footer.conf
/doc/footer.html
/doc/logo.png
/doc/doxygen_sqlite3.db
/doc/html
/share/examples/GiNaC*
/Testing
/tmp

# implicit
.deps/
.libs/
.dirstamp
.DS_Store
*~
.*~
Makefile
*.o
*.orig
*.lo
*.la
*.log
*.trs
*.gch
.jemris_progress.out
seq.h5
signals.h5
signals_ismrmrd.h5
sensmaps.h5
mod.xml
mpirun.out

share/examples/*.seq
share/examples/1chext.h5
share/examples/8chheadcyl.h5
share/examples/ThreePulses.h5
share/examples/ThreePulses.out
share/examples/ThreePulses_signal.h5
share/examples/analytic.h5
share/examples/analytic.out
share/examples/analytic_signal.h5
share/examples/epi.h5
share/examples/epi.out
share/examples/epi_signal.h5
share/examples/gre.h5
share/examples/gre.out
share/examples/gre_signal.h5
share/examples/radial.h5
share/examples/radial.out
share/examples/radial_signal.h5
share/examples/sli_sel.h5
share/examples/sli_sel.out
share/examples/sli_sel_signal.h5
share/examples/tse.h5
share/examples/tse.out
share/examples/tse_signal.h5
share/examples/extpulses.h5
share/examples/extpulses.out
share/examples/extpulses_signal.h5
share/examples/epi_modular.h5
share/examples/epi_modular.out
share/examples/epi_modular_signal.h5
share/examples/radial2.h5
share/examples/radial2.out
share/examples/radial2_signal.h5
share/examples/var_dur.h5
share/examples/var_dur.out
share/examples/var_dur_signal.h5
share/examples/trapezoid.h5
share/examples/trapezoid.out
share/examples/trapezoid_signal.h5
share/examples/spiral.h5
share/examples/spiral.out
share/examples/spiral_signal.h5
share/examples/ThreePulses_signal_ismrmrd.h5
share/examples/analytic_signal_ismrmrd.h5
share/examples/epi_modular_signal_ismrmrd.h5
share/examples/epi_signal_ismrmrd.h5
share/examples/extpulses_signal_ismrmrd.h5
share/examples/gre_signal_ismrmrd.h5
share/examples/radial2_signal_ismrmrd.h5
share/examples/radial_signal_ismrmrd.h5
share/examples/sli_sel_signal_ismrmrd.h5
share/examples/trapezoid_signal_ismrmrd.h5
share/examples/tse_signal_ismrmrd.h5
share/examples/var_dur_signal_ismrmrd.h5
share/examples/spiral_signal_ismrmrd.h5
share/examples/eddycurrents.h5
share/examples/eddycurrents_signal.h5
