# explicit
/.project
/.cproject
/config.log
/config.status
/libtool
/.autotools
/.csettings
/.settings
/src/jemris
/src/pjemris
/src/sanityck
/src/config.h
/share/matlab/JEMRIS_seq.m
/share/matlab/JEMRIS_sim.m
/share/matlab/JEMRIS_txrx.m
/share/matlab/pbs_script.sh
/signals.h5
/src/stamp-h1
/doc/site/nav.js
/doc/userguide/doxy-jemris.conf
/autom4te.cache

# implicit
.deps/
.libs/
.dirstamp
.DS_Store
*~
.*~
Makefile
*.o
*.lo
*.la
.jemris_progress.out
seq.h5
signals.h5
sensmaps.h5
mod.xml
