#!/usr/bin/env xdg-open
[Desktop Entry]
Version=2022.3
Exec=/usr/local/share/jemris/standalone_guis/apps/jseq.sh
Icon=/usr/local/share/jemris/standalone_guis/ubuntu_desktop/pics/Jseq.png
Name=JEMRIS_seq
GenericName=JEMRIS_seq
Comment=JEMRIS Matlab Standalone GUI for Sequence Development
Encoding=UTF-8
Terminal=false
Type=Application
Categories=Application;IDE;
