#!/usr/bin/env xdg-open
[Desktop Entry]
Version=2022.3
Exec=/usr/local/share/jemris/standalone_guis/apps/jsim.sh
Icon=/usr/local/share/jemris/standalone_guis/ubuntu_desktop/pics/Jsim.png
Name=JEMRIS_sim
GenericName=JEMRIS_sim
Comment=JEMRIS Matlab Standalone GUI for MR Simulations
Encoding=UTF-8
Terminal=false
Type=Application
Categories=Application;IDE;
